@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(145deg,#8deefd,#445dff);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h2 {
  text-transform: uppercase;
  color: #445dff;
}

.container section {
  background: #445dff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  max-width: 560px;
  margin: 10px;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.container section .time-colon {
  display: flex;
  justify-content: center;
  flex-direction: row; 
}

section .time-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.time-text .time-num {
  font-size: 50px;
  font-weight: 600;
  text-shadow: 1px 0 10px #021278;
}

.time-text .text {
  font-weight: 500;
}

.time-colon .colon {
  position: relative;
  top: 9px;
  font-size: 35px;
  font-weight: 600;  
  padding: 2px;
}

.time-colon .am-pm {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}